<section>
  <div class="container">
    <div class="row text-white text-center p-5 rounded-3 bg-purple">
      <div class="col-md-12">
        <h1 class="display-4">View Child</h1>
      </div>
    </div>
    <div class="row my-5 p-5 border rounded-3">
        <div class="col-md-3">
            <input type="text" value="sajdgasjhgd" #txt>
        </div>
        <div class="col-md-3">
          <app-alert [message]="'Hiii I am Alert '" [alertType]="'success'"></app-alert>
        </div>
    </div>
  </div>
</section>
